body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main {
    padding-bottom: 70px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    /* display: block; */
    margin-bottom: 5px;
}
#description_label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="year"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="number"]{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;

}

#description{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;

}

button[type="submit"] {
    width: 100%;
    padding: 10px;

    background-color: #007bff;
    text-emphasis: ture;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#removeButton {
    width: 100%;
    padding: 10px;

    background-color: #c51919;
    text-emphasis: ture;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

#removeButton:hover {
    background-color: #0056b3;
}

#profile {
    align-self: left;
}

/* 
button[type="button"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #00608E;
} */

#addAuthor {
    width: 20%;
    padding: 10px;
    background-color: #0096ed;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    margin-bottom: 10px;
}

#addAuthor:hover {
    background-color: #0056b3;
}
