

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    padding-bottom: 100px;
}

header {
    background-color: #3e3e3e;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3e3e3e;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li:last-child {
    float: right; /* Align the last list item to the right */
}
/* Clear floats after the list */
nav:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-top: 0;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container ul li {
    margin-bottom: 10px;
}

.container ul li a {
    color: #ff0000; /* Red color for remove link */
    text-decoration: none;
    margin-left: 10px;
}

.container ul li a:hover {
    text-decoration: underline;
}

/* CSS for the footer */
footer {
    background-color: #4a4949; /* Background color */
    color: white; /* Text color */
    text-align: center; /* Center-align text */
    padding: 1px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    /* z-index: 999; Ensure the footer stays on top */
}